APP_NAME=Silicash
APP_ENV=local
APP_KEY=base64:px8fC0CWR1zfG6MAgmI1E9bzXkE8NBokEx9smY2daN4=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=silicash
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=log
# MAIL_SCHEME=null
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"


MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=465
MAIL_USERNAME=c20e7442f8cf43
MAIL_PASSWORD=86602ec26fd8f8
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=test@easyspend.cc
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


PAYSTACK_SKEY=sk_test_50e2540888d8bcfaa2a9a9cc201d613389ff3bb2
PAYSTACK_PKEY=pk_test_a62f341e6c736f43532ab3df95dd3140b16ebc90
PAYSTACK_URL=https://api.paystack.co/

SUDO_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2Nzc1NjU1MDA5MjJkODc1YjEzMGQ3MjgiLCJlbWFpbEFkZHJlc3MiOiJkYXZpZGlueWFuZzAxQGdtYWlsLmNvbSIsImp0aSI6IjY3NzU2NjBjMDkyMmQ4NzViMTMwZDk4NyIsIm1lbWJlcnNoaXAiOnsiX2lkIjoiNjc3NTY1NTAwOTIyZDg3NWIxMzBkNzJiIiwiYnVzaW5lc3MiOnsiX2lkIjoiNjc3NTRhOTIwOTIyZDg3NWIxMzBjZTJmIiwibmFtZSI6IlNpbGljYXNoIiwiaXNBcHByb3ZlZCI6ZmFsc2V9LCJ1c2VyIjoiNjc3NTY1NTAwOTIyZDg3NWIxMzBkNzI4Iiwicm9sZSI6IkFQSUtleSJ9LCJpYXQiOjE3MzU3NDcwODQsImV4cCI6MTc2NzMwNDY4NH0.Lbwv3kVnJdhFm-5XkPFdQGkzQRWhub4Nx6dBe4Owtzg
SUDO_TEST_URL=https://api.sandbox.sudo.cards
SUDO_LIVE_URL=https://api.sudo.africa